
<div class="container mt-5">
<div class="input-group" style="height:300px;">
    <a class="btn btn-danger" asp-controller="Admin" asp-action="Add">Add</a>
    <a class="btn btn-danger" asp-controller="Order" asp-action="GetListOrders">Orders</a>
    <a class="btn btn-danger" asp-controller="Admin" asp-action="Change">Change</a>
</div>
</div>