
@model Account
    <div class="container mt-5">
        <h3>Admin</h3>
        <br />



        <div class="row" style="height:400px">


            <form asp-action="LogIn" method="post" class="form-horizontal">

                <div class="form-group">
                    <label asp-for="Login"></label>
                    <div class="col-md-5">
                        <input asp-for="Login" class="form-control" size="70" />
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <div class="col-md-5">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>

                <input class="btn btn-success" type="submit" value="Login" />

            </form>



        </div>
</div>