@model Order
@using System;
@using System.Globalization;
<div class="col-lg-4 Col-lg-4">

    <div class="card" style="width: 18rem;"> 
        <div class="card-body">
           
            <h5> Name: @Model.name @Model.SurName </h5>
            <p class="card-text">@Model.phone</p>
       
        </div>
    </div>


</div>
